# Java
*.class
*.jar
*.war
*.ear

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/
build/

# IDEs
*.iml
.idea/
.vscode/
*.project
*.classpath
*.settings/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
